.PennController-Scale .option label {
    margin: 0em 1.5em;
    font-size: 18px;
}
.PennController-Scale .option input[type=radio] {
  height: 18px;
  width: 18px;
  vertical-align: middle;
  margin-left: 1.5em;
}
